.clickable {
  cursor: pointer;
}
input[type=radio] {
  display: none;
}
input[type=radio] + label {
  width: 17px;
  height: 17px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}
input[type=radio]:checked + label span {
  display: inline-block;
  position: absolute;
  background: #ccc;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}
.recent-separator {
  height: 1px;
  position: absolute;
  width: 100%;
  background: #ccc;
  bottom: 0;
}
.aligner {
  overflow: hidden;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
          justify-content: flex-start
}

@media screen and (max-width: 993px) {
  #services-container {
    justify-content: center !important;
  }
}
