

input[type="radio"] {
    display: none;
}
input[type="radio"]:checked+label:after {
    display: block;
}
input[type="radio"]+label {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    line-height: 1;
    font-weight: 400;
    cursor: pointer;
}
input[type="radio"]:disabled+label {
    cursor: default;
}
input[type="radio"]+label:after,
input[type="radio"]+label:before {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}
input[type="radio"]+label:after {
    display: none;
    background-color: #00B4F1;
    background-image: url('assets/images/icons/ic_done_black_24px.png');
    background-position: center;
    background-size: contain;
}
input[type="radio"]+label:before {
    border: 2px solid rgb(172, 178, 186);
}